<div class="jumbotron text-center">
  <h1 class="display-3"> {{title}} </h1>
  <p class="lead">Add next quiz for your students</p>
  <p class="lead">login so you can create Quizzes</p>
  <a href="/quizzes/add" class="btn btn-dark btn-lg"> Add Quiz </a>
</div>