<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Account Registeration</h3>

      <form action="/users" method="post">
        <div class="form-group">
          <label for="name"> Name </label>
          <input type="text" class="form-control" name="name" required value={{name}} >
        </div>

        <div class="form-group">
          <label for="email"> Email </label>
          <input type="text" class="form-control" name="email" required value={{email}} >
        </div>

        <div class="form-group">
          <label for="password"> Password </label>
          <input type="password" class="form-control" name="password" required value={{password}} >
        </div>

        <div class="form-group">
          <label for="password2"> confirm Password </label>
          <input type="password" class="form-control" name="password2" required value={{password2}} >
        </div>

        <div class="form-group mb-3">
          <select class="form-control" name="isAdmin">
              <option value="1">Teacher</option>
              <option value="0">Student</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary "> Register </button>
      </form>

    </div>
  </div>
</div>
