<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-center">Add Question</h3>

      <form action="/questions?id={{id}}" method="post">
        <div class="form-group">
          <label for="question"> Question </label>
          <input type="text" class="form-control" name="question" value="" required>
        </div>

        <div class="form-group">
          <label for="ans1"> possible answers </label>
          <input type="text" class="form-control" name="ans1" value="" required>
          <input type="text" class="form-control" name="ans2" value="" required>
          <input type="text" class="form-control" name="ans3" value="" required>
          <input type="text" class="form-control" name="ans4" value="" required>
        </div>

        <div class="form-group">
          <label for="correct"> correct answer </label>
          <input type="text" class="form-control" name="correct" value="" required>
        </div>

        <div class="form-group">
          <label for="explanation"> Explanation </label>
          <textarea name="explanation" class="form-control" ></textarea>
        </div>

        <button type="submit" class="btn btn-primary" name="btn1" value="addmore"> Add More </button>
        <button type="submit" class="btn btn-secondary" name="btn2" value="save"> Save </button>
      </form>
    </div>
  </div>
</div>
